{% if product.getComments()|length > 0 %}
  <div role="tabpanel" class="tab-pane fix fade in active" id="comments">
    <div class="comments-body">
      <ul>
        {% for comment in product.getComments() %}
          <li class="single-comments">
            <img src="{{ asset("images/blog/author.jpg") }}" alt="">
            <div class="comments-text">
              <h5>{{ comment.username }}</h5>
              {{ include('default/layouts/parts/rating-stars.html.twig',{'rating': comment.rating}) }}
              <span>Date:
								{{ comment.created | date }}</span>
              <p>{{ comment.text | raw }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% else %}
  <div class="no-comments">
    <h4>Комментариев пока нет</h4>
  </div>
{% endif %}
<div class="addcomment-body">
  <h3 class="sb-title">Комментировать</h3>
  <div class="lyt-right">
    <form id="addcomment" action="{{ url('addcomment',{'product_id': id}) }}" method='POST'>
      <div>
        <h5>Ваше имя:</h5>
        <div class="leave-ib">
          <input type="text" id="username" name="username"/>
        </div>
        <h5>Оценка:</h5>
        <div class="star-rating">
          <div class="star-rating__wrap">
            <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
          </div>
        </div>
      </div>
      <h5>Текст комментария:</h5>
      <textarea name="text" class="area-text"></textarea>
      <div class="post-comment input-box">
        <button type="submit" class="submit">Отправить комментарий</button>
      </div>
    </form>
  </div>
</div>
