{% extends "base.html.twig" %}

{% block title %} {{ category.name }} {% endblock %}

{% block body %} 

   
    {% set breadcrumbTitle = 'Categories' %}
    {% set isProductPage = false %}
    {{ include('default/layouts/parts/product/product-breadcumbs.html.twig') }}
    
    <!--shop main area are start-->
    <div class="shop-main-area ptb-70">
        <div class="container">
            <div class="row">
                {{ include('default/layouts/sidebar.html.twig') }}
                {{ include('default/layouts/category-main.html.twig') }}
            </div>
        </div>
    </div>
{#
    {{ render(controller(
        'App\\Controller\\DefaultController::getSubCategories',{'parent':category.id}))
    }}          
#}  
{% endblock %}