{% extends "base.html.twig" %}

{% block title %} {{ product.name }} {% endblock %}

{% block body %}

    {% set breadcrumbTitle = 'Product Details' %}
    {% set isProductPage = true %}
    {{ include('default/layouts/parts/product/product-breadcumbs.html.twig') }}

    <!--single-portfolio-area are start-->
    <div class="single-protfolio-area ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                   {{ include('default/layouts/product-image-area.html.twig') }}
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                   {{ include('default/layouts/product-description-area.html.twig') }}
                </div>
            </div>  
        </div>
    </div>
    <!--single-portfolio-area are start-->

    {{ include('default/layouts/product-tabs-area.html.twig') }}
    
    {{ include('default/layouts/new-arrival.html.twig') }}
    
{% endblock %}