{% extends "base.html.twig" %}

{% block title %} {{ product.name }} {% endblock %}

{% block body %}
    <h1>
        {{ product.name }}
    </h1> 
    <div id="top-path" class="pb-4">
        {{ render(controller(
            'App\\Controller\\DefaultController::getCategoriesPath',
            {   'id': product.getCategory().getId(),
                'isProductPage': true
            }))
        }}  
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="https://fakeimg.pl/400/?text={{ product.name }}">
        </div>
        <div class="col-md-5">
            <h2>
                Description
            </h2>
            <p>
                {{ product.Description }}
            </p>
            <div id="price">
                Price: {{ product.price }}
            </div>
            {% if product.getComments() | length>0 %}
                <div id="comments">
                    {% for comment in product.getComments() %}
                        <div id="comment">
                            <div id="comment_user">{{ comment.username }}</div>
                            <div>Date: {{ comment.created | format_datetime() }}</div>
                            <div>Rating: {{ comment.rating }}</div>
                            <div id="comment_text">{{ comment.text }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}