<div class="single-prodcut-img  product-overlay pos-rltv">
  {% set classes = ['primary', 'secondary'] %}
  {% set imgIndex = 0 %}
  <a href="{{ url('product',{'id': product.id}) }}">
    {% if product.gallery %}
      {% for ind, im in product.gallery.getGalleryHasMedias() if imgIndex < 2 and im.media.enabled %}
        <img alt="" src="{{ sonata_path(im.media, 'product') }}"
             class="{{ classes[imgIndex] }}-image"
        >
        {%  set imgIndex = imgIndex + 1 %}
      {% endfor %}
    {% endif %}
    
    {% if imgIndex<2 %}
      {% for i in imgIndex..1 %}
        <img alt="" src="https://fakeimg.pl/272x390/?text=no%20image{{ i+1 }}" class="{{ classes[i] }}-image">
      {% endfor %}
    {% endif %}
  </a>
</div>