{% for product in products %}
<div class="col-md-3">
    <!-- single product start-->
    <div class="single-product">
        <div class="product-img">
            {% if labels|length > 0 %}
                <div class="product-label">
                    {% for label in labels %}
                        <div class="{{ label.class }}">{{ label.name }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% include "default/layouts/parts/product-image.html.twig" %}
            <div class="product-icon socile-icon-tooltip text-center">
                <ul>
                    <li><a id={{ product.id }} href="#" data-tooltip="Add To Cart" class="add-cart" data-placement="left"><i class="fa fa-cart-plus"></i></a></li>
                    <li><a href="#" data-tooltip="Wishlist" class="w-list"><i class="fa fa-heart-o"></i></a></li>
                    <li><a href="#" data-tooltip="Compare" class="cpare"><i class="fa fa-refresh"></i></a></li>
                    <li><a href="#" data-tooltip="Quick View" class="q-view" data-toggle="modal" data-target=".modal"><i class="fa fa-eye"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="product-text">
            <div class="prodcut-name"> <a href="{{ url('product',{'id': product.id}) }}">{{ product.name }}</a> </div>

            <div class="prodcut-ratting-price">
                {{ include('default/layouts/parts/rating-star-controller.html.twig') }}
                
                <div class="prodcut-price">
                    <div class="new-price"> ${{ product.price }} </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single product end-->
</div>
{% endfor %}

<script>
  if (!window.jQuery) {
    document.write('<script src="{{ asset('js/vendor/jquery-1.12.0.min.js') }}"><\/script>');
    console.log('loaded');
}
</script>

<script src="{{ asset('js/cart-header.js') }}"></script>