{% for product in products %}
<div class="col-md-3">
    <!-- single product start-->
    <div class="single-product">
        <div class="product-img">
            <div class="product-label">
                <div class="new">New</div>
            </div>
            <div class="single-prodcut-img  product-overlay pos-rltv">
                <a href="{{ url('product',{'id': product.id}) }}"> <img alt="" src="images/product/01.jpg" class="primary-image"> <img alt="" src="images/product/02.jpg" class="secondary-image"> </a>
            </div>
            <div class="product-icon socile-icon-tooltip text-center">
                <ul>
                    <li><a href="#" data-tooltip="Add To Cart" class="add-cart" data-placement="left"><i class="fa fa-cart-plus"></i></a></li>
                    <li><a href="#" data-tooltip="Wishlist" class="w-list"><i class="fa fa-heart-o"></i></a></li>
                    <li><a href="#" data-tooltip="Compare" class="cpare"><i class="fa fa-refresh"></i></a></li>
                    <li><a href="#" data-tooltip="Quick View" class="q-view" data-toggle="modal" data-target=".modal"><i class="fa fa-eye"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="product-text">
            <div class="prodcut-name"> <a href="{{ url('product',{'id': product.id}) }}">{{ product.name }}</a> </div>

            <div class="prodcut-ratting-price">
                {{ render(controller(
                    'App\\Controller\\DefaultController::getProductRating',{'product_id':product.id}))
                }} 

                <div class="prodcut-price">
                    <div class="new-price"> ${{ product.price }} </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single product end-->
</div>
{% endfor %}