<div class="single-product-description">
    <div class="sp-top-des">
        <h3>{{ product.name }}</h3>
        <div class="prodcut-ratting-price">
            
            {{ include('default/layouts/parts/rating-star-controller.html.twig') }} 
            <div class="prodcut-price">
                <div class="new-price"> {{ product.price }} </div>
                <div class="old-price"> <del>$250</del> </div>
            </div>
        </div>
    </div>
        
    <div class="sp-des">
        <p>
            (Краткое описание товара) {{ product.Description|raw }}
        </p>
    </div>
    <div class="sp-bottom-des">
        <div class="single-product-option">
            <div class="sort product-type">
                {{ include('default/layouts/parts/colors.html.twig') }}
            </div>
            <div class="sort product-type">
                {{ include('default/layouts/parts/sizes.html.twig') }}
            </div>
        </div>
        {{ include('default/layouts/parts/product/product-quantity-area.html.twig') }}
        
        {{ include('default/layouts/parts/product/product-buttons.html.twig') }}
        <div>
          {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
          <div class="form-group">
            {{ form_label(form.quantity) }}
            {{ form_widget(form.quantity, {
              'attr': {
                'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
              }
            }) }}
            <div class="invalid-feedback">
              {{ form_errors(form.quantity) }}
            </div>
          </div>
          {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}
          {{ form_end(form) }}
        </div>
    </div>
</div>