<!--descripton-area start -->
<div class="descripton-area">
    <div class="container">
        <div class="row">
            <div class="product-area tab-cars-style">
                {{ include('default/layouts/parts/product/product-description-tabs.html.twig') }}
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="content-tab-product-category">
                        <!-- Tab panes -->
                        <div class="tab-content">
                        
                            {{ include('default/layouts/parts/product/product-tab-description.html.twig') }}
                            
                            {{ include('default/layouts/parts/product/product-tab-review.html.twig') }}

                            {{ include('default/layouts/parts/product/product-tab-special.html.twig') }}

                            {{ include('default/layouts/parts/product/product-tab-comments.html.twig') }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<!--descripton-area end--> 